html{margin:0;padding:0;border:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;font-size:14px;}
a,abbr,acronym,address,article,aside,blockquote,body,caption,code,dd,del,dfn,dialog,div,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,iframe,legend,nav,object,p,pre,q,section,span,tbody,tfoot,thead{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;}
dl,dt,ul{border:0;vertical-align:baseline;font:inherit;font-size:14px;}
article,aside,details,dialog,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{background:#fff;color:#333;font-size:14px;font-family:Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif}
img{border:0;vertical-align:bottom}
.img-100 img{width:100%;display:block;}
.img-zoom img,.fx{-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;transition:all .4s;-ms-transition:all .4s}
.img-zoom img:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-ms-transform:scale(1.1)}
::-webkit-input-placeholder{color:#999}
:-moz-placeholder{color:#999}
::-moz-placeholder{color:#999}
:-ms-input-placeholder{color:#ccc}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
textarea{overflow:auto;resize:none}
button:focus,input:focus,select:focus,textarea:focus{outline:0}
input::-ms-clear{display:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:0 0;color:#333;text-decoration:none}
a:active,a:hover{outline:0;color:#0e90d2}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}
sup{top:-.5em}
sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-size:1em;font-family:monospace,monospace}
button,input,optgroup,select,textarea{margin:0;font:inherit}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input,textarea{border:1px solid #d7d7d7;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver}
legend{padding:0;border:0}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
p{margin-top:10px;line-height:1.6;}
h1{font-size:24px}
h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
h1,h2,h3,h4,h5,h6{margin-bottom:15px;}
.clearfix:after,.clearfix:before,.section:after,.section:before,.row:after,.row:before,ul.grid:after,ul.grid:before,.hd:after,.hd:before,.bd:after,.bd:before,.ft:after,.ft:before{clear:both;display:table;content:"";line-height:0}
.clear{clear:both!important}
.fr{float:right!important}
.center{float:none!important;margin-left:auto;margin-right:auto;}
.nf{float:none!important}
.fl,.x-10,.x-100,.x-15,.x-20,.x-25,.x-30,.x-33,.x-35,.x-40,.x-45,.x-50,.x-55,.x-60,.x-65,.x-66,.x-70,.x-75,.x-80,.x-85,.x-90,.xs-10,.xs-100,.xs-15,.xs-20,.xs-25,.xs-30,.xs-33,.xs-35,.xs-40,.xs-45,.xs-50,.xs-55,.xs-60,.xs-65,.xs-66,.xs-70,.xs-75,.xs-80,.xs-85,.xs-90{float:left}
.w960{width:960px;}
.w1000{width:1000px;}
.w1200{width:1200px;}
.x-10,.w-10{width:10%!important}
.x-15,.w-15{width:15%!important}
.x-20,.w-20{width:20%!important}
.x-25,.w-25{width:25%!important}
.x-30,.w-30{width:30%!important}
.x-33,.w-33{width:33.33339%!important}
.x-35,.w-35{width:35%!important}
.x-40,.w-40{width:40%!important}
.x-45,.w-45{width:45%!important}
.x-50,.w-50{width:50%!important}
.x-55,.w-55{width:55%!important}
.x-60,.w-60{width:60%!important}
.x-65,.w-65{width:65%!important}
.x-66,.w-66{width:66.66669%!important}
.x-70,.w-70{width:70%!important}
.x-75,.w-75{width:75%!important}
.x-80,.w-80{width:80%!important}
.x-85,.w-85{width:85%!important}
.x-90,.w-90{width:90%!important}
.x-95,.w-95{width:95%!important}
.x-100,.w-100{width:100%!important}
.show{display:block!important}
.hide{display:none!important}
@media screen and (max-width:760px){.container{min-width:auto}
.xs-show{display:block!important}
.xs-hide{display:none!important}
.xs-10{width:10%!important}
.xs-15{width:15%!important}
.xs-20{width:20%!important}
.xs-25{width:25%!important}
.xs-30{width:30%!important}
.xs-33{width:33.33339%!important}
.xs-35{width:35%!important}
.xs-40{width:40%!important}
.xs-45{width:45%!important}
.xs-50{width:50%!important}
.xs-55{width:55%!important}
.xs-60{width:60%!important}
.xs-65{width:65%!important}
.xs-66{width:66.66669%!important}
.xs-70{width:70%!important}
.xs-75{width:75%!important}
.xs-80{width:80%!important}
.xs-85{width:85%!important}
.xs-90{width:90%!important}
.xs-95{width:95%!important}
.xs-100{width:100%!important}
}
.p0{margin:0!important;}
.m0{padding:0!important;}
.mt1{margin-top:1px!important}
.mt2{margin-top:2px!important}
.mt3{margin-top:3px!important}
.mt4{margin-top:4px!important}
.mt5,.m5{margin-top:5px!important}
.mt10,.m10{margin-top:10px!important}
.mt15,.m15{margin-top:15px!important}
.mt20,.m20{margin-top:20px!important}
.mt25,.m25{margin-top:25px!important}
.mt30,.m30{margin-top:30px!important}
.mt35,.m35{margin-top:35px!important}
.mt40,.m40{margin-top:40px!important}
.mb5,.m5{margin-bottom:5px!important}
.mb10,.m10{margin-bottom:10px!important}
.mb15,.m15{margin-bottom:15px!important}
.mb20,.m20{margin-bottom:20px!important}
.mb25,.m25{margin-bottom:25px!important}
.mb30,.m30{margin-bottom:30px!important}
.mb35,.m35{margin-bottom:35px!important}
.mb40,.m40{margin-bottom:40px!important}
.mr5,.m5{margin-right:5px!important}
.mr-10{margin-right:-10px!important}
.mr-15{margin-right:-15px!important}
.mr-20{margin-right:-20px!important}
.mr10,.m10{margin-right:10px!important}
.mr15,.m15{margin-right:15px!important}
.mr20,.m20{margin-right:20px!important}
.mr25,.m25{margin-right:25px!important}
.mr30,.m30{margin-right:30px!important}
.mr35,.m35{margin-right:35px!important}
.mr40,.m40{margin-right:40px!important}
.ml5,.m5{margin-left:5px!important}
.ml10,.m10{margin-left:10px!important}
.ml-10{margin-left:-10px!important}
.ml-15{margin-left:-15px!important}
.ml-20{margin-left:-20px!important}
.ml15,.m15{margin-left:15px!important}
.ml20,.m20{margin-left:20px!important}
.ml25,.m25{margin-left:25px!important}
.ml30,.m30{margin-left:30px!important}
.ml35,.m35{margin-left:35px!important}
.ml40,.m40{margin-left:40px!important}
.pt1{padding-top:1px!important}
.pt2{padding-top:2px!important}
.pt3{padding-top:3px!important}
.pt4{padding-top:4px!important}
.pt5,.p5{padding-top:5px!important}
.pt10,.p10{padding-top:10px!important}
.pt15,.p15{padding-top:15px!important}
.pt20,.p20{padding-top:20px!important}
.pt25,.p25{padding-top:25px!important}
.pt30,.p30{padding-top:30px!important}
.pt35,.p35{padding-top:35px!important}
.pt40,.p40{padding-top:40px!important}
.pr5,.p5{padding-right:5px!important}
.pr10,.p10{padding-right:10px!important}
.pr15,.p15{padding-right:15px!important}
.pr20,.p20{padding-right:20px!important}
.pr25,.p25{padding-right:25px!important}
.pr30,.p30{padding-right:30px!important}
.pr35,.p35{padding-right:35px!important}
.pr40,.p40{padding-right:40px!important}
.pb5,.p5{padding-bottom:5px!important}
.pb10,.p10{padding-bottom:10px!important}
.pb15,.p15{padding-bottom:15px!important}
.pb20,.p20{padding-bottom:20px!important}
.pb25,.p25{padding-bottom:25px!important}
.pb30,.p30{padding-bottom:30px!important}
.pb35,.p35{padding-bottom:35px!important}
.pb40,.p40{padding-bottom:40px!important}
.pl5,.p5{padding-left:5px!important}
.pl10,.p10{padding-left:10px!important}
.pl15,.p15{padding-left:15px!important}
.pl20,.p20{padding-left:20px!important}
.pl25,.p25{padding-left:25px!important}
.pl30,.p30{padding-left:30px!important}
.pl35,.p35{padding-left:35px!important}
.pl40,.p40{padding-left:40px!important}
.mlr-10{margin-left:-10px!important;margin-right:-10px!important;}
.mlr-15{margin-left:-15px!important;margin-right:-15px!important;}
.mlr-20{margin-left:-20px!important;margin-right:-20px!important;}
.plr{padding-right:10px!important;padding-left:10px!important}
.plr-xl{padding-right:15px!important;padding-left:15px!important}
.plr-xxl{padding-right:20px!important;padding-left:20px!important}
@media screen and (max-width:760px){.s-p0{padding:0!important}
.s-m0{margin:0!important}
}
ul.grid{margin:0 0 0 -10px;padding:0}
ul.grid li{float:left;padding-bottom:10px;padding-left:10px;width:100%;list-style:none}
ul.grid.gx-2 li{width:50%}
ul.grid.gx-3 li{width:33.33333%}
ul.grid.gx-4 li{width:25%}
ul.grid.gx-5 li{width:20%}
@media screen and (max-width:760px){ul.grid.gxs li{width:100%}
ul.grid.gxs-2 li{width:50%}
}
ul.nav{margin:0;padding:0;letter-spacing:-5px;position:relative;}
ul.nav>li{display:inline-block;min-width:60px;list-style:none;letter-spacing:normal;text-align:center;}
ul.nav>li>a,ul.nav li>span{display:block}
ul.nav>li>a:hover{color:red}
ul.nav>li.current{color:red}
ul.vlist{margin:0;padding:0;list-style:none;}
.vlist li{overflow:hidden;height:28px;line-height:28px}
.circle,.radius,.round{overflow:hidden}
.round{border-radius:1000px!important}
.circle{border-radius:100%!important}
.radius{border-radius:3px!important}
.radius-xl{border-radius:6px!important}
.square{border-radius:0!important}
.rel,.relz{position:relative}
.relz{z-index:9}
.abs-b,.abs-f,.abs-l,.abs-r,.abs-t{position:absolute!important;z-index:99}
.fixed-b,.fixed-f,.fixed-l,.fixed-r,.fixed-t{position:fixed!important;z-index:999;}
.abs-f,.abs-l,.abs-r,.abs-t,.fixed-f,.fixed-l,.fixed-r,.fixed-t{top:0}
.abs-b,.abs-f,.abs-r,.abs-t,.fixed-b,.fixed-f,.fixed-r,.fixed-t{right:0}
.abs-b,.abs-f,.abs-l,.abs-r,.fixed-b,.fixed-f,.fixed-l,.fixed-r{bottom:0}
.abs-b,.abs-f,.abs-l,.abs-t,.fixed-b,.fixed-f,.fixed-l,.fixed-t{left:0}
.table-mid{display:table;width:100%;height:100%;float:none}
.table-mid>div,.table-mid>li{display:table-cell;vertical-align: middle;float:none;}
.bg-o1{background-color:rgba(0,0,0,.1);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#19000000, endColorStr=#19000000)}
.bg-o2{background-color:rgba(0,0,0,.2);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#33000000, endColorStr=#33000000)}
.bg-o3{background-color:rgba(0,0,0,.3);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#4C000000, endColorStr=#4C000000)}
.bg-o4{background-color:rgba(0,0,0,.4);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#66000000, endColorStr=#66000000)}
.bg-o5{background-color:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#7F000000, endColorStr=#7F000000)}
.bg-o6{background-color:rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#99000000, endColorStr=#99000000)}
.bg-o7{background-color:rgba(0,0,0,.7);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#B2000000, endColorStr=#B2000000)}
.bg-o8{background-color:rgba(0,0,0,.8);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#C8000000, endColorStr=#C8000000)}
.bg-o9{background-color:rgba(0,0,0,.9);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#E5000000, endColorStr=#E5000000)}
.bg-white{background-color:#fff}
.bg-light{background-color:#f7f7f7}
.bg-gray{background-color:#999}
.bg-drak{background-color:#222}
.bg-black{background-color:#000}
.bg-red{background-color:#fedede}
.border{border:1px solid #eee}
.line-b{border-bottom:1px solid #eee}
.line-t{border-top:1px solid #eee}
.c-white, .c-white a{color:#fff;}
.c-light, .c-light a{color:#f7f7f7;}
.c-gray, .c-gray a{color:#999;}
.c-red, .c-red a{color:red;}
.c-green, .c-green a{color:#4aaa4a;}
.c-blue, .c-blue a{color:#0e90d2;}
.l{font-weight:200;}
.b{font-weight:700;}
.tc{text-align:center}
.tl{text-align:left}
.tr{text-align:right}
.tj{text-align:justify!important;text-justify:inter-ideograph}
.ib{display:inline-block;}
.o-hide{overflow:hidden;}
.vm{vertical-align:middle!important}
.vt{vertical-align:top!important}
.vb{vertical-align:bottom!important}
.fs10{font-size:10px!important}
.fs12{font-size:12px!important}
.fs14{font-size:14px!important}
.fs16{font-size:16px!important}
.fs18{font-size:18px!important}
.fs20{font-size:20px!important}
.fs24{font-size:24px!important}
.fs26{font-size:26px!important}
.fs28{font-size:28px!important}
.fs32{font-size:32px!important}
.fs34{font-size:34px!important}
.fs36{font-size:36px!important}
.ls1{letter-spacing:1px}
.ls2{letter-spacing:2px}
.ls3{letter-spacing:3px}
.ff-yh{font-family:"Microsoft YaHei"!important}
.ff-s{font-family:simsun!important}
.lh-1{line-height:1!important}
.lh-2{line-height:2!important}
.lh16{line-height:16px!important}
.lh18{line-height:18px!important}
.lh20{line-height:20px!important}
.lh24{line-height:24px!important}
.lh26{line-height:26px!important}
.lh28{line-height:28px!important}
.lh30{line-height:30px!important}
.del{text-decoration:line-through!important}
.i{font-style:italic!important}
.u{text-decoration:underline}
ul.pagebar,ul.pagebar li{margin:0;padding:0;list-style:none}
ul.pagebar li{display:inline-block}
ul.pagebar li>a{position:relative;display:block;margin-right:2px;margin-bottom:2px;min-width:24px;text-align:center;border:1px solid #ddd;border-radius:0;background-color:#fff;text-decoration:none;line-height:24px;padding:0 4px;}
ul.pagebar li>a:hover{background:#0e90d2;color:#fff;}
ul.pagebar li.current>a{background:#0e90d2;cursor:default}
ul.pagebar li.disabled>a{color:#aaa;cursor:no-drop}
ul.pagebar li.disabled>a:hover{background-color:#fff}
ul.pagebar li.current>a{color:#fff}
.btn{display:inline-block;margin-bottom:0;padding:.5em 1em;outline:0;border:1px solid transparent;border-color:#e6e6e6;border-radius:0;background-color:#e6e6e6;background-image:none;color:#333;vertical-align:middle;text-align:center;white-space:nowrap;font-weight:400;font-size:14px;line-height:1.2;cursor:pointer;-webkit-transition:background-color .3s ease-out,border-color .3s ease-out;transition:background-color .3s ease-out,border-color .3s ease-out;-webkit-appearance:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn:hover{border-color:#ccc;background-color:#ccc;}
.btn:active{border-color:#bbb;background-color:#bbb;}
.btn-primary{border-color:#0e90d2;background-color:#0e90d2;color:#fff}
.btn-primary:hover,.btn-primary:focus{border-color:#0a6999;background-color:#0c79b1;color:#fff}
.btn-primary:active{border-color:#0a6999;background-color:#0a628f;color:#fff}
.btn-danger{border-color:#dd514c;background-color:#dd514c;color:#fff}
.btn-danger:hover,.btn-danger:focus{border-color:#c62b26;background-color:#d7342e;color:#fff}
.btn-danger:active{border-color:#c62b26;background-color:#be2924;color:#fff}
.btn-warning{border-color:#dd514c;background-color:#F37B1D;color:#fff}
.btn-warning:hover,.btn-warning:focus{border-color:#c85e0b;background-color:#e0690c;color:#fff}
.btn-warning:active{border-color:#c85e0b;background-color:#be590a;color:#fff}
.btn-success{border-color:#5eb95e;background-color:#4aaa4a;color:#fff}
.btn-success:hover,.btn-success:focus{border-color:#429842;background-color:#5eb95e;color:#fff}
.btn-success:active{border-color:#429842;background-color:#3f913f;color:#fff}
.btn-secondary{border-color:#3bb4f2;background-color:#3bb4f2;color:#fff}
.btn-secondary:hover,.btn-secondary:focus{border-color:#0f9ae0;background-color:#19a7f0;color:#fff}
.btn-secondary:active{border-color:#0f9ae0;background-color:#0e93d7;color:#fff}
.btn-block{display:block;padding-right:0;padding-left:0;width:100%}
/* icon */
@font-face{font-family: "base76"; src: url('../fonts/base76.eot?t=1495159283391'); /* IE9*/ src: url('../fonts/base76.eot?t=1495159283391#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/base76.woff?t=1495159283391') format('woff'), /* chrome, firefox */ url('../fonts/base76.ttf?t=1495159283391') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/base76.svg?t=1495159283391#base76') format('svg'); /* iOS 4.1- */}
.icon{font-family:"base76" !important;font-style:normal;vertical-align: middle;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
font-size:20px;display:inline-block;vertical-align:middle;margin-right:2px;
}
.icon-add:before{content: "\e6df";}
.icon-close:before{content: "\e6e9";}
.icon-coordinates:before{content: "\e6ec";}
.icon-delete_fill:before{content: "\e6f2";}
.icon-enter:before{content: "\e6f8";}
.icon-feedback_fill:before{content: "\e6fa";}
.icon-homepage:before{content: "\e702";}
.icon-label:before{content: "\e706";}
.icon-like:before{content: "\e707";}
.icon-lock:before{content: "\e709";}
.icon-mail:before{content: "\e70a";}
.icon-message:before{content: "\e70c";}
.icon-mobilephone:before{content: "\e70f";}
.icon-more:before{content: "\e710";}
.icon-people:before{content: "\e715";}
.icon-picture:before{content: "\e716";}
.icon-play_fill:before{content: "\e717";}
.icon-praise:before{content: "\e71a";}
.icon-prompt_fill:before{content: "\e71b";}
.icon-prompt:before{content: "\e71c";}
.icon-qrcode:before{content: "\e71d";}
.icon-refresh:before{content: "\e71e";}
.icon-return:before{content: "\e720";}
.icon-right:before{content: "\e721";}
.icon-share:before{content: "\e729";}
.icon-success_fill:before{content: "\e72d";}
.icon-systemprompt:before{content: "\e730";}
.icon-time:before{content: "\e735";}
.icon-warning:before{content: "\e73d";}
.icon-search:before{content: "\e741";}
@-webkit-keyframes icon-spin {0% {-webkit-transform: ratio(0);transform: ratio(0)}100% {-webkit-transform: ratio(359deg);transform: ratio(359deg)}}
@keyframes icon-spin {0% {-webkit-transform: ratio(0);transform: ratio(0)}100% {-webkit-transform: ratio(359deg);transform: ratio(359deg)}}
.icon-spin {-webkit-animation: icon-spin 2s infinite linear;animation: icon-spin 2s infinite linear}
.icon-pulse {-webkit-animation: icon-spin 1s infinite steps(8);animation: icon-spin 1s infinite steps(8)}